:root {
    display: flex;
    justify-content: center;
    background-position: center;
    margin: 10px auto;
}



#header {
    text-align: center;
    font-size: 10px;
    margin: auto;
    height: 10vh;
    padding-bottom: 10%;
    width: 100%;
}

#arena {
    display: flex;
    justify-content: space-around;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlu3y7OlQOjQ9fCdKOMikGFQsGjWpTb7kk3A&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 30vh;
    width: 100vw
    
}

button:hover {
    transition: transform 100ms;
    transform: scale(1.04);
}
#hostBox {
    display: flex;
    background-color: black;
    justify-content: center;
    border: 2px solid purple;
    align-items: center;
    width: 25%;
    height: 70%;
    
}
span {
    
font-family: 'Lobster', cursive;
color: red;

}

#weevil {
    background-color: black;
    width: 25%;
    border: 2px solid grey;
    height: 70%;
}

#bottomText {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 150px;
    width: 100%;
}
#textResponse {
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    
}
.logoh {
    position: relative;
    top: 15px;
    height: 9vh;
    width: 20vw;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    background-color: gold;
    height: 25%;
    border: none;
    font-size: 6px;
    width: 100%;

    margin: 5px auto;
}
#startScreen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#yugiLogo {
    background-color: 	#590d8568;
    margin: 5% 0;
}
#startScreen {
    background-image: url(https://wallpapers.com/images/high/yugioh-charming-magician-girl-5l95woktzjpjakr4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.button2 {
    width: 20%;
    height: 5%;
    border: none;
    margin: 30px 0px 0px 10px;
    background-color: #590d8568;

    
}
.name {
    background-color: #590d8568;
    margin: 15% 0;
}

#startGame {
    background-color: black;
    color: gold;
    border-radius: 10%;
    border: none;
}